body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

header{
  width: 100%;
}

footer{
  width: 100%;
}


  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    padding: 20px;
   
  }
.icono {
    border-radius: 50%;
    align-items: left;
    width: 10%;
  }

  .form-dato {
    width: 80%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid black;
    margin: 5px;
  }
  
  textarea {
    min-height: 10%;
  }
  
  .button {
    background-color: white;
    width: 20%;
    margin: 4px;
  }

  form{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formulario{
    background-color: white;
    width: 60%;
    height: 80%;
    padding: 10px;
    box-shadow: 0px 2px 10px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 


.icono {
    border-radius: 50%;
    align-items: left;
    width: 10%;
  }
  
  

  .datos p {
    color: white;
    margin: 0;
    margin-left: 15%;
  }
  
  .datos h4 {
    color: white;
    margin: 0;
  }
  @media screen and (max-width: 1020px){
    
    .button{
      width: 40%;
    }
  }

  @media screen and (max-height: 500px){
    
    footer{
      display: none;
    }
  }