body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem 0;
}

main {
  padding: 1rem;
}

.blog-header {
  background-color: #e5e8ed;
  padding: 1rem;
  width: 180px;
  margin-bottom: 1rem;
}

.blog-content {
  background-color: black;
  padding: 1rem;
  margin-bottom: 1rem;
}
.Nombre-blog {
  background-color: #c0c1c3;
  width: 50%; /* Ajusta el ancho relativo al contenedor padre */
  height: auto; /* Ajusta la altura automáticamente según el contenido */
  max-width: 600px; /* Establece un ancho máximo */
  max-height: 100px; /* Establece una altura máxima */
  margin-bottom: 1rem;
  padding: 1rem; /*el padding para una mejora apariencia*/
  font-size: 1rem; /*  el tamaño de la fuente */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.edit-section {
  text-align: right;
}

textarea {
  color: #fff;
  width: 100%;
  height: 650px; /* Aumenta la altura del textarea */
  margin-bottom: 1rem;
  padding: 1rem; /* Añade padding para mejor apariencia */
  font-size: 1rem; /* Ajusta el tamaño de la fuente */
  box-sizing: border-box; /* el padding no afecte  el ancho total */
  background-color: #004aad;
}
.card {
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
}

.card2 {
  width: 190px;
  height: 254px;
  background-color: #1a1a1a;
  transition: all 0.2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #575757;
}
.Btn {
  width: 150px;
  height: 50px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  cursor: pointer;
  background: linear-gradient(-45deg, #004aad, #0cc0df, #96ef90, #00b6f1);
  background-size: 1000% 1000%;
  animation: gradient 5s ease infinite;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.247);
  transition-duration: 0.1s;
}

.btn-group {
  display: flex;
  gap: 1rem;
}

/* Button's gradient animation */
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
/* Effect on Hover*/
.Btn::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 100%;
  left: -70px;
  top: 0;
  background-color: rgba(214, 199, 255, 0.329);
  filter: blur(10px);
  transition-duration: 0.3s;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.Btn:hover::before {
  transform: translateX(250px);
  transition-duration: 0.3s;
}
/* Effect on click */
.Btn:active {
  transform: translate(2px, 2px);
  transition-duration: 0.1s;
}

.boton-shine {
  transform: translate(0%, 0%);
  color: #fff;
  background: linear-gradient(to right, #0cc0df 0%, black 10%, #004aad 20%);
  background-size: 200% auto; /* Hace que el fondo se mueva */
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
